.App {
  padding: 0 32px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.dark {
  background: #282c34;
  color: #ffffff;
}

.light {
  background: #ffffff;
  color: #000000;
}

.btn-dark {
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  background: #282c34;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s;
}

.btn-dark:hover {
  background: #ffffff;
  color: #282c34;
}

.btn-ligth {
  border: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
  background: #ffffff;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s;
}

.btn-ligth:hover {
  background: #000000;
  color: #ffffff;
}

.btn-dark:focus,
.btn-ligth:focus {
  outline: none;
}
